.btn-group button {
    background: linear-gradient(to bottom, #cc33ff 0%, #4b4bbd 100%); /* Gradient button */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 15px 16px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */ 
    
  }
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background: rgb(68, 175, 68);/** rgb(26, 128, 0)**/
  }
  * {
    box-sizing: border-box;
  }
  

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(229, 225, 231);
  }
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
  }

  /* Style Text Over The Search Fields  */
  .about{
    color:rgb(172, 169, 169);
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

/* Difficulty Level Selection */
.select-css{
  font-size: 13px;
  margin-left: 40px;
  padding: 10px 8px 10px 14px;
  background:  10px rgb(236, 236, 236);
  border: 8px solid rgb(236, 236, 236);
  border-radius: 6px;
  position: relative;
}

/*  Purple color at the Top*/
.topStyle{
  background: linear-gradient(to bottom, rgb(56, 3, 56) 0%, rgb(75, 7, 75) 100%);
}

/* Search Button Style  */
.smallbutton {
  color: purple;
  background-color: rgb(236, 236, 236);
  padding: 10px 8px;
  border-radius: 5px;
  margin-left: 7px;
}

/* Adds greey color to hover */
.smallbutton:hover {
  background-color: rgb(103, 185, 103);/** rgb(26, 128, 0)**/
}

/*  Styles input Bar for Category Search */
.inputBar{
  font-size: 12px;
  padding: 10px 40px; 
  background-color: rgb(236, 236, 236);
  margin-left: 40px;
  border-radius: 6px
}

/*  Positions Paginator at the bottom*/
.paginator{
  height: 40px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
  
}
/* Positions date picker appropriately */
.datePicker{
  margin-left: 40px;
  display: inline-block
}

.fa {
  padding: 8px;
  font-size: 20px;
  border-radius: 100px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Instagram */
.fa-instagram {
  background:linear-gradient(to bottom, #ff33cc 0%, #ff0000 100%);;
  color: white;
}

/* Positions all icons at top right */
.icons{
  position: relative;
  top: 0%;
  float: right;
}